
.shake {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 2px;
  background: #ede1ab;
  box-shadow: 4px -20px 30px 5px #e0dd94 inset;
  white-space: nowrap;
  font-size: 12px;
  animation: shake 1.5s ease infinite;
}
@keyframes shake {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}
.contact-popover{
  // background-color: #ede1ab;
  .ant-popover-inner{
    background-color: #ede1ab!important;
  }
}

